*{
    margin: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}




.logo{
    height: 150px;
    width: 150px;
    
   
}
h1,ul,li{
     display: inline-block; 
      
}

ul{
    margin-left: 60%;
    position: relative;
    top: -50px;
    
  
}
ul a{
    text-decoration: none;
   
}

li:hover{
    color: red;
}
li{
    cursor: pointer;
    
}
.image{
    margin-top: -30px;
    display: inline-block;
    
   position: relative;
   left: 10px;
  
   
}
.timage{
     border-radius: 30px;
}

img{
     padding-top: 50px;  

    padding: 10px;
}
.desti{
     
    width: 100%;
   
    justify-content: center;
    
}
.one{
   
    flex-wrap: wrap;
   
     display: flex;
     align-items: center;
     justify-content: space-around;
    
}
.para{
    width: 400px;
    height: 500px;
    
}

.para:hover{
   
    color: goldenrod;
}
.para{
    cursor: pointer;
}
.rate{
    margin-top: 30px;
    margin-bottom: 20px;
}

.box{
    
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
padding: 30px;
font-weight: bold;
background-color:white;
color: black;
border-color: black;
border-width: 3px;
border-style: solid;
display: inline-block;
width: 200px;
height: 300px;
border-radius: 20px;
margin-right: 20px;
position: relative;
left: 300px;
text-align: center;
font-weight: bold;
font-size: x-large;
cursor: pointer;

}
.box:hover{
    transition: 0.5s;
    box-shadow: 0px 2px 15px;
}
.amount{
    position: relative;
    top: 60px;
    color: red;
    
}
.fes{
    position: relative;
    top: 60px;
}
.con{
    margin-top: 20px;
   
    width: 100%;
    height: 150px;
    text-align: center;
    padding: 10px;
    

}

.para1{
    width: 250px;
 flex-basis: 33%;
 flex-grow: 1;
 margin-right: 30px;
 margin-left: 10px;
    
}

